## Metrics for dataset evaluation

In [16]:
from notebook_init import notebook_init, notebook_imports

In [17]:
import pandas as pd
from sklearn import metrics

In [18]:
def load_scores(fname):
    scores = []
    with open(fname) as f:
        lines = f.readlines()
        for l in lines:
            l.strip('[]')
            tmp = l.split(',')
            scores_i = [ int(s.strip())  for s in tmp]
            scores.append(scores_i)
            
    return scores

In [19]:
def calcualate_metrics(scores):
    average_score_per_dialogue = [sum(s)/len(s) for s in scores]
    total_average_score = sum(average_score_per_dialogue)/len(average_score_per_dialogue) 
    return average_score_per_dialogue, total_average_score

In [20]:
role_fitness_scores = pd.DataFrame()

total_scores = pd.DataFrame()

## Role fitness

Scores for role fitness are given on a scale from 1 to 5

In [26]:
identity_pipeline_scores = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/identity.csv')
identity_pipeline_scores

avg_dialogue_scores, total_avg = calcualate_metrics(identity_pipeline_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)

role_fitness_scores['identity'] = avg_dialogue_scores
total_scores['identity'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.8333333333333335
Dialogue  1 :  3.6666666666666665
Dialogue  2 :  4.333333333333333
Dialogue  3 :  4.0
Dialogue  4 :  3.8333333333333335
Dialogue  5 :  4.0
Dialogue  6 :  4.166666666666667
Dialogue  7 :  4.0
Dialogue  8 :  4.0
Dialogue  9 :  4.0
Dialogue  10 :  4.0
Dialogue  11 :  4.0
Dialogue  12 :  4.666666666666667
Dialogue  13 :  4.166666666666667
Dialogue  14 :  4.0
Dialogue  15 :  4.0
Dialogue  16 :  4.166666666666667
Dialogue  17 :  3.3333333333333335

Total average score:  4.009259259259259

In [27]:
role_fitness_0_scores = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/rf_0.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_0_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_0'] = avg_dialogue_scores
total_scores['rf_0'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.1666666666666665
Dialogue  1 :  3.6666666666666665
Dialogue  2 :  4.166666666666667
Dialogue  3 :  3.3333333333333335
Dialogue  4 :  4.5
Dialogue  5 :  4.166666666666667
Dialogue  6 :  4.0
Dialogue  7 :  4.333333333333333
Dialogue  8 :  4.833333333333333
Dialogue  9 :  4.5
Dialogue  10 :  4.0
Dialogue  11 :  4.833333333333333
Dialogue  12 :  4.166666666666667
Dialogue  13 :  5.0
Dialogue  14 :  4.166666666666667
Dialogue  15 :  4.333333333333333
Dialogue  16 :  4.5
Dialogue  17 :  4.333333333333333

Total average score:  4.222222222222222

In [28]:
role_fitness_1_scores = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/rf_1.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_1_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_1'] = avg_dialogue_scores
total_scores['rf_1'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  4.0
Dialogue  1 :  4.0
Dialogue  2 :  4.0
Dialogue  3 :  3.6666666666666665
Dialogue  4 :  3.6666666666666665
Dialogue  5 :  4.333333333333333
Dialogue  6 :  4.166666666666667
Dialogue  7 :  4.0
Dialogue  8 :  4.0
Dialogue  9 :  3.8333333333333335
Dialogue  10 :  4.666666666666667
Dialogue  11 :  4.333333333333333
Dialogue  12 :  4.666666666666667
Dialogue  13 :  4.666666666666667
Dialogue  14 :  4.0
Dialogue  15 :  4.666666666666667
Dialogue  16 :  4.666666666666667
Dialogue  17 :  4.833333333333333

Total average score:  4.231481481481481

In [29]:
role_fitness_2_scores = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/rf_2.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_2_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_2'] = avg_dialogue_scores
total_scores['rf_2'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  4.333333333333333
Dialogue  1 :  4.0
Dialogue  2 :  3.5
Dialogue  3 :  4.0
Dialogue  4 :  4.0
Dialogue  5 :  4.333333333333333
Dialogue  6 :  4.0
Dialogue  7 :  3.1666666666666665
Dialogue  8 :  3.8333333333333335
Dialogue  9 :  4.5
Dialogue  10 :  4.166666666666667
Dialogue  11 :  4.833333333333333
Dialogue  12 :  4.166666666666667
Dialogue  13 :  4.5
Dialogue  14 :  4.0
Dialogue  15 :  4.166666666666667
Dialogue  16 :  4.666666666666667
Dialogue  17 :  4.0

Total average score:  4.12037037037037

In [30]:
role_fitness_3_scores = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/rf_3.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(role_fitness_3_scores)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)


role_fitness_scores['rf_3'] = avg_dialogue_scores
total_scores['rf_3'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  4.5
Dialogue  1 :  4.0
Dialogue  2 :  4.166666666666667
Dialogue  3 :  4.166666666666667
Dialogue  4 :  3.6666666666666665
Dialogue  5 :  4.833333333333333
Dialogue  6 :  4.166666666666667
Dialogue  7 :  4.0
Dialogue  8 :  4.333333333333333
Dialogue  9 :  4.0
Dialogue  10 :  4.333333333333333
Dialogue  11 :  4.5
Dialogue  12 :  4.666666666666667
Dialogue  13 :  3.8333333333333335
Dialogue  14 :  4.833333333333333
Dialogue  15 :  4.833333333333333
Dialogue  16 :  4.666666666666667
Dialogue  17 :  4.166666666666667

Total average score:  4.314814814814815

In [31]:
ll_rf_0 = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/ll_rf_0.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_0)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )


print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_0'] = avg_dialogue_scores
total_scores['ll_rf_0'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  3.0
Dialogue  1 :  3.6666666666666665
Dialogue  2 :  3.5
Dialogue  3 :  4.0
Dialogue  4 :  4.5
Dialogue  5 :  4.0
Dialogue  6 :  4.333333333333333
Dialogue  7 :  4.0
Dialogue  8 :  4.0
Dialogue  9 :  4.0
Dialogue  10 :  4.166666666666667
Dialogue  11 :  4.166666666666667
Dialogue  12 :  4.833333333333333
Dialogue  13 :  4.5
Dialogue  14 :  4.0
Dialogue  15 :  4.833333333333333
Dialogue  16 :  4.0
Dialogue  17 :  4.0

Total average score:  4.083333333333333

In [32]:
ll_rf_1 = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/ll_rf_1.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_1)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )


print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_1'] = avg_dialogue_scores
total_scores['ll_rf_1'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  2.8333333333333335
Dialogue  1 :  3.5
Dialogue  2 :  3.5
Dialogue  3 :  4.0
Dialogue  4 :  4.333333333333333
Dialogue  5 :  4.166666666666667
Dialogue  6 :  3.8333333333333335
Dialogue  7 :  4.166666666666667
Dialogue  8 :  3.8333333333333335
Dialogue  9 :  4.5
Dialogue  10 :  4.166666666666667
Dialogue  11 :  4.166666666666667
Dialogue  12 :  4.0
Dialogue  13 :  4.666666666666667
Dialogue  14 :  4.666666666666667
Dialogue  15 :  4.333333333333333
Dialogue  16 :  3.6666666666666665
Dialogue  17 :  4.833333333333333

Total average score:  4.064814814814814

In [33]:
ll_rf_2 = load_scores('../../plays/gpt-3.5/evaluation/role_fitness/ll_rf_2.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_2)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )

print()
print('Total average score: ', total_avg)

role_fitness_scores['ll_rf_2'] = avg_dialogue_scores
total_scores['ll_rf_2'] = [total_avg, ]

Average scores per dialogue:
Dialogue  0 :  4.166666666666667
Dialogue  1 :  4.166666666666667
Dialogue  2 :  4.0
Dialogue  3 :  4.0
Dialogue  4 :  4.166666666666667
Dialogue  5 :  3.5
Dialogue  6 :  4.166666666666667
Dialogue  7 :  3.3333333333333335
Dialogue  8 :  4.166666666666667
Dialogue  9 :  4.333333333333333
Dialogue  10 :  4.166666666666667
Dialogue  11 :  4.166666666666667
Dialogue  12 :  3.8333333333333335
Dialogue  13 :  4.333333333333333
Dialogue  14 :  4.0
Dialogue  15 :  4.666666666666667
Dialogue  16 :  4.333333333333333
Dialogue  17 :  3.8333333333333335

Total average score:  4.0740740740740735

In [34]:
role_fitness_scores

,identity,rf_0,rf_1,rf_2,rf_3,ll_rf_0,ll_rf_1,ll_rf_2
0,3.833333,3.166667,4.000000,4.333333,4.500000,3.000000,2.833333,4.166667
1,3.666667,3.666667,4.000000,4.000000,4.000000,3.666667,3.500000,4.166667
2,4.333333,4.166667,4.000000,3.500000,4.166667,3.500000,3.500000,4.000000
3,4.000000,3.333333,3.666667,4.000000,4.166667,4.000000,4.000000,4.000000
4,3.833333,4.500000,3.666667,4.000000,3.666667,4.500000,4.333333,4.166667
5,4.000000,4.166667,4.333333,4.333333,4.833333,4.000000,4.166667,3.500000
6,4.166667,4.000000,4.166667,4.000000,4.166667,4.333333,3.833333,4.166667
7,4.000000,4.333333,4.000000,3.166667,4.000000,4.000000,4.166667,3.333333
8,4.000000,4.833333,4.000000,3.833333,4.333333,4.000000,3.833333,4.166667
9,4.000000,4.500000,3.833333,4.500000,4.000000,4.000000,4.500000,4.333333
10,4.000000,4.000000,4.666667,4.166667,4.333333,4.166667,4.166667,4.166667
11,4.000000,4.833333,4.333333,4.833333,4.500000,4.166667,4.166667,4.166667
12,4.666667,4.166667,4.666667,4.166667,4.666667,4.833333,4.000000,3.833333
13,4.166667,5.000000,4.666667,4.500000,3.833333,4.500000,4.666667,4.333333
14,4.000000,4.166667,4.000000,4.000000,4.833333,4.000000,4.666667,4.000000
15,4.000000,4.333333,4.666667,4.166667,4.833333,4.833333,4.333333,4.666667
16,4.166667,4.500000,4.666667,4.666667,4.666667,4.000000,3.666667,4.333333
17,3.333333,4.333333,4.833333,4.000000,4.166667,4.000000,4.833333,3.833333

In [35]:
total_scores

,identity,rf_0,rf_1,rf_2,rf_3,ll_rf_0,ll_rf_1,ll_rf_2
0,4.009259,4.222222,4.231481,4.12037,4.314815,4.083333,4.064815,4.074074

## Language level 

Scores for language level are given on a scale from 1 to 3

In [58]:
language_level_scores = pd.DataFrame()
language_level_total_scores = pd.DataFrame()
language_level_level_scores = pd.DataFrame()

In [59]:
language_level_level_scores['level'] = ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [60]:
identity_pipeline_scores_ll = load_scores('../../plays/gpt-3.5/evaluation/language_level/identity.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(identity_pipeline_scores_ll)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['identity'] = avg_dialogue_scores
language_level_total_scores['identity'] = [total_avg, ]
language_level_level_scores['identity'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  1.6666666666666667
Dialogue  1 :  2.0
Dialogue  2 :  1.3333333333333333
Dialogue  3 :  3.0
Dialogue  4 :  2.6666666666666665
Dialogue  5 :  2.8333333333333335
Dialogue  6 :  3.0
Dialogue  7 :  2.1666666666666665
Dialogue  8 :  2.1666666666666665
Dialogue  9 :  2.3333333333333335
Dialogue  10 :  2.6666666666666665
Dialogue  11 :  2.5
Dialogue  12 :  2.8333333333333335
Dialogue  13 :  2.5
Dialogue  14 :  2.3333333333333335
Dialogue  15 :  2.3333333333333335
Dialogue  16 :  2.5
Dialogue  17 :  2.5

Average score per language level
Level  A1 :  1.6666666666666667
Level  A2 :  2.8333333333333335
Level  B1 :  2.444444444444444
Level  B2 :  2.5
Level  C1 :  2.555555555555556
Level  C2 :  2.4444444444444446

Total average score:  2.407407407407408

In [61]:
ll_0_scores = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_0.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_0_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_0'] = avg_dialogue_scores
language_level_total_scores['ll_0'] = [total_avg, ]
language_level_level_scores['ll_0'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  2.0
Dialogue  1 :  2.5
Dialogue  2 :  2.8333333333333335
Dialogue  3 :  2.0
Dialogue  4 :  2.5
Dialogue  5 :  2.0
Dialogue  6 :  2.8333333333333335
Dialogue  7 :  2.8333333333333335
Dialogue  8 :  2.5
Dialogue  9 :  2.6666666666666665
Dialogue  10 :  2.5
Dialogue  11 :  3.0
Dialogue  12 :  2.8333333333333335
Dialogue  13 :  3.0
Dialogue  14 :  2.5
Dialogue  15 :  2.6666666666666665
Dialogue  16 :  3.0
Dialogue  17 :  2.5

Average score per language level
Level  A1 :  2.4444444444444446
Level  A2 :  2.1666666666666665
Level  B1 :  2.7222222222222228
Level  B2 :  2.722222222222222
Level  C1 :  2.777777777777778
Level  C2 :  2.722222222222222

Total average score:  2.5925925925925926

In [62]:
ll_1_scores = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_1.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_1_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_1'] = avg_dialogue_scores
language_level_total_scores['ll_1'] = [total_avg, ]
language_level_level_scores['ll_1'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  1.8333333333333333
Dialogue  1 :  2.5
Dialogue  2 :  2.6666666666666665
Dialogue  3 :  2.5
Dialogue  4 :  2.3333333333333335
Dialogue  5 :  3.0
Dialogue  6 :  2.1666666666666665
Dialogue  7 :  2.1666666666666665
Dialogue  8 :  1.8333333333333333
Dialogue  9 :  2.8333333333333335
Dialogue  10 :  2.0
Dialogue  11 :  2.6666666666666665
Dialogue  12 :  2.5
Dialogue  13 :  3.0
Dialogue  14 :  2.8333333333333335
Dialogue  15 :  3.0
Dialogue  16 :  2.5
Dialogue  17 :  3.0

Average score per language level
Level  A1 :  2.3333333333333335
Level  A2 :  2.611111111111111
Level  B1 :  2.0555555555555554
Level  B2 :  2.5
Level  C1 :  2.777777777777778
Level  C2 :  2.8333333333333335

Total average score:  2.5185185185185186

In [63]:
ll_2_scores = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_2.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_2_scores)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_2'] = avg_dialogue_scores
language_level_total_scores['ll_2'] = [total_avg, ]
language_level_level_scores['ll_2'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  2.6666666666666665
Dialogue  1 :  1.8333333333333333
Dialogue  2 :  2.1666666666666665
Dialogue  3 :  2.5
Dialogue  4 :  3.0
Dialogue  5 :  3.0
Dialogue  6 :  2.6666666666666665
Dialogue  7 :  2.8333333333333335
Dialogue  8 :  2.0
Dialogue  9 :  2.6666666666666665
Dialogue  10 :  2.3333333333333335
Dialogue  11 :  2.6666666666666665
Dialogue  12 :  2.6666666666666665
Dialogue  13 :  2.6666666666666665
Dialogue  14 :  2.5
Dialogue  15 :  2.8333333333333335
Dialogue  16 :  2.6666666666666665
Dialogue  17 :  2.6666666666666665

Average score per language level
Level  A1 :  2.222222222222222
Level  A2 :  2.8333333333333335
Level  B1 :  2.5
Level  B2 :  2.5555555555555554
Level  C1 :  2.611111111111111
Level  C2 :  2.722222222222222

Total average score:  2.574074074074074

In [64]:
ll_rf_0 = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_rf_0.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_0)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_0'] = avg_dialogue_scores
language_level_total_scores['ll_rf_0'] = [total_avg, ]
language_level_level_scores['ll_rf_0'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  2.6666666666666665
Dialogue  1 :  2.8333333333333335
Dialogue  2 :  3.0
Dialogue  3 :  2.6666666666666665
Dialogue  4 :  2.0
Dialogue  5 :  3.0
Dialogue  6 :  2.5
Dialogue  7 :  2.6666666666666665
Dialogue  8 :  2.1666666666666665
Dialogue  9 :  2.6666666666666665
Dialogue  10 :  3.0
Dialogue  11 :  3.0
Dialogue  12 :  3.0
Dialogue  13 :  3.0
Dialogue  14 :  2.5
Dialogue  15 :  2.6666666666666665
Dialogue  16 :  1.8333333333333333
Dialogue  17 :  2.5

Average score per language level
Level  A1 :  2.8333333333333335
Level  A2 :  2.5555555555555554
Level  B1 :  2.444444444444444
Level  B2 :  2.888888888888889
Level  C1 :  2.8333333333333335
Level  C2 :  2.3333333333333335

Total average score:  2.6481481481481484

In [65]:
ll_rf_1 = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_rf_1.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_1)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_1'] = avg_dialogue_scores
language_level_total_scores['ll_rf_1'] = [total_avg, ]
language_level_level_scores['ll_rf_1'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  1.8333333333333333
Dialogue  1 :  2.5
Dialogue  2 :  2.8333333333333335
Dialogue  3 :  3.0
Dialogue  4 :  2.5
Dialogue  5 :  3.0
Dialogue  6 :  2.5
Dialogue  7 :  3.0
Dialogue  8 :  1.8333333333333333
Dialogue  9 :  2.6666666666666665
Dialogue  10 :  2.6666666666666665
Dialogue  11 :  2.6666666666666665
Dialogue  12 :  2.6666666666666665
Dialogue  13 :  2.5
Dialogue  14 :  3.0
Dialogue  15 :  2.3333333333333335
Dialogue  16 :  2.6666666666666665
Dialogue  17 :  2.5

Average score per language level
Level  A1 :  2.388888888888889
Level  A2 :  2.8333333333333335
Level  B1 :  2.444444444444444
Level  B2 :  2.6666666666666665
Level  C1 :  2.722222222222222
Level  C2 :  2.5

Total average score:  2.5925925925925926

In [66]:
ll_rf_2 = load_scores('../../plays/gpt-3.5/evaluation/language_level/ll_rf_2.csv')

avg_dialogue_scores, total_avg = calcualate_metrics(ll_rf_2)

avg_scores_per_ll = []
for i in range(0, 18, 3):
    avg_scores_per_ll.append(sum(avg_dialogue_scores[i:i+3])/3)

print('Average scores per dialogue: ')
for i, s in enumerate(avg_dialogue_scores):
    print('Dialogue ', i, ': ', s )
    
print()
print('Average score per language level')

for s, ll in zip(avg_scores_per_ll, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']):
    print('Level ', ll, ': ', s )

print()
print('Total average score: ', total_avg)

language_level_scores['ll_rf_2'] = avg_dialogue_scores
language_level_total_scores['ll_rf_2'] = [total_avg, ]
language_level_level_scores['ll_rf_2'] = avg_scores_per_ll

Average scores per dialogue:
Dialogue  0 :  2.5
Dialogue  1 :  2.6666666666666665
Dialogue  2 :  2.8333333333333335
Dialogue  3 :  2.5
Dialogue  4 :  2.5
Dialogue  5 :  3.0
Dialogue  6 :  2.5
Dialogue  7 :  2.5
Dialogue  8 :  3.0
Dialogue  9 :  2.5
Dialogue  10 :  2.6666666666666665
Dialogue  11 :  2.6666666666666665
Dialogue  12 :  2.6666666666666665
Dialogue  13 :  2.6666666666666665
Dialogue  14 :  2.5
Dialogue  15 :  3.0
Dialogue  16 :  2.0
Dialogue  17 :  2.3333333333333335

Average score per language level
Level  A1 :  2.6666666666666665
Level  A2 :  2.6666666666666665
Level  B1 :  2.6666666666666665
Level  B2 :  2.6111111111111107
Level  C1 :  2.611111111111111
Level  C2 :  2.4444444444444446

Total average score:  2.611111111111111

In [67]:
language_level_total_scores

   identity      ll_0      ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0  2.407407  2.592593  2.518519  2.574074  2.648148  2.592593  2.611111

In [68]:
language_level_scores

    identity      ll_0      ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0   1.666667  2.000000  1.833333  2.666667  2.666667  1.833333  2.500000
1   2.000000  2.500000  2.500000  1.833333  2.833333  2.500000  2.666667
2   1.333333  2.833333  2.666667  2.166667  3.000000  2.833333  2.833333
3   3.000000  2.000000  2.500000  2.500000  2.666667  3.000000  2.500000
4   2.666667  2.500000  2.333333  3.000000  2.000000  2.500000  2.500000
5   2.833333  2.000000  3.000000  3.000000  3.000000  3.000000  3.000000
6   3.000000  2.833333  2.166667  2.666667  2.500000  2.500000  2.500000
7   2.166667  2.833333  2.166667  2.833333  2.666667  3.000000  2.500000
8   2.166667  2.500000  1.833333  2.000000  2.166667  1.833333  3.000000
9   2.333333  2.666667  2.833333  2.666667  2.666667  2.666667  2.500000
10  2.666667  2.500000  2.000000  2.333333  3.000000  2.666667  2.666667
11  2.500000  3.000000  2.666667  2.666667  3.000000  2.666667  2.666667
12  2.833333  2.833333  2.500000  2.666667  3.000000  2.666667  2.666667
13  2.500000  3.000000  3.000000  2.666667  3.000000  2.500000  2.666667
14  2.333333  2.500000  2.833333  2.500000  2.500000  3.000000  2.500000
15  2.333333  2.666667  3.000000  2.833333  2.666667  2.333333  3.000000
16  2.500000  3.000000  2.500000  2.666667  1.833333  2.666667  2.000000
17  2.500000  2.500000  3.000000  2.666667  2.500000  2.500000  2.333333

In [69]:
language_level_level_scores

  level  identity      ll_0      ll_1      ll_2   ll_rf_0   ll_rf_1   ll_rf_2
0    A1  1.666667  2.444444  2.333333  2.222222  2.833333  2.388889  2.666667
1    A2  2.833333  2.166667  2.611111  2.833333  2.555556  2.833333  2.666667
2    B1  2.444444  2.722222  2.055556  2.500000  2.444444  2.444444  2.666667
3    B2  2.500000  2.722222  2.500000  2.555556  2.888889  2.666667  2.611111
4    C1  2.555556  2.777778  2.777778  2.611111  2.833333  2.722222  2.611111
5    C2  2.444444  2.722222  2.833333  2.722222  2.333333  2.500000  2.444444